* {
    box-sizing: border-box;
}

.container{
    position: absolute;
    top: 20%;
    left: 7%;
    margin: 0px 0 0 -100px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

/*.form-container {*/
/*    padding: 10px;*/
/*}*/

form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    text-align: center;
}

h1 {
    font-weight: bold;
    margin: 0;
}

.forgot-password-container input {
    margin-bottom: 12px !important;
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 10px;

}

.forgot-password-container button {
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    margin-top: 20px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.forgot-password-container button:hover {
    background-color: #333;
}

.forgot-password-image-container {
    flex: 1;
}

.forgot-password-image-container img {
    max-width: 100%;
    height: auto;
}

.forgot-password-container{
    flex: 1;

}
